{% extends "base.html" %}
{% block content %}
<h1>Index Page.</h1>
<hr>
<h2>Servers:</h2>
<ul>
    {% for server in servers %}
    <li><a href="{{ url_for('server_page', index=server.index) }}">{{ server.name }}</a></li>
    {% endfor %}
</ul>
<a href="{{ url_for('new_server_page') }}" class="btn btn-primary d-inline-flex flex-row justify-content-center align-items-center gap-2">
    <i class="bi bi-plus-circle"></i>
    New Server
</a>
<h2>Subprocesses running:</h2>
<ul>
    {% for subprocess in subprocesses %}
    <li><code>({{ loop.index0 }}|PROCESS) server.index: {{ subprocess.server.index }}</code></li>
    {% endfor %}
</ul>
{% endblock %}