{% extends "base.html" %}
{% block head %}
<script defer src="{{ url_for('static', filename='newserver.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Setup new server.</h1>
<form action="{{ url_for('api_createNewServer') }}" method="post">
    <div class="mb-3">
        <label for="serverName" class="form-label">Server name</label>
        <input type="text" pattern="^(\w+\.?)*\w+$" name="name" class="form-control" id="serverName" aria-describedby="serverNameHelp" required>
        <div id="serverNameHelp" class="form-text">This name will be used as name for server's directory and it will be added to <code>servers.json</code> file.</div>
    </div>
    <div class="mb-3">
        <label for="serverSoftwareSelect" class="form-label">Server software</label>
        <select name="software" value="paper" id="serverSoftwareSelect" class="form-select" aria-describedby="serverSoftwareSelectHelp">
            <option selected value="paper">Paper</option>
            <option value="vanilla">Vanilla</option>
            <option value="craftbukkit">CraftBukkit</option>
            <option value="spigot">Spigot</option>
        </select>
        <div id="serverSoftwareSelectHelp" class="form-text">Vanilla is the minecraft's original server software. Server wrapper in current stage only supports Paper server software.</div>
    </div>
    <div class="mb-3">
        <label for="minecraftVersionSelect" class="form-label">Minecraft version</label>
        <select name="version" id="minecraftVersionSelect" class="form-select" aria-describedby="minecraftVersionSelectHelp"></select>
        <div id="minecraftVersionSelectHelp" class="form-text">Latest supported minecraft version is 1.19.3.</div>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" value="" id="eulaCheckbox" aria-describedby="eulaCheckboxHelp">
        <label for="eulaCheckbox" class="form-check-label">Accept EULA Agreement</label>
        <div id="eulaCheckboxHelp" class="form-text">By ticking above checkbox you are indicating your agreement to the <a href="https://aka.ms/MinecraftEULA" class="text-muted">Minecraft&trade; EULA.</a></div>
    </div>
    <input type="hidden" name="max-ram" value="2G">
    <!-- By default, submit button is disabled until user accepts Minecraft EULA. -->
    <input type="submit" id="submitButton" class="btn btn-primary" value="Create new server" disabled>
</form>
{% endblock %}