{% extends 'base.html' %}

{% block content %}
    <div class="container rounded overflow-auto fs-6 bg-dark text-white p-3" id="logs" style="height: 500px"></div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var logElement = document.getElementById("logs");
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');
        var autoscroll = true;

        logElement.addEventListener("wheel", () => autoscroll = false);

        // receive logs from server
        socket.on('message', (type, data) => {
            if (type == "lastlogs") {
                // before appending new elements, check if user scrolled to the bottom of element
                if (!autoscroll && (Math.abs(logElement.scrollHeight - logElement.clientHeight - logElement.scrollTop) < 1)) {
                    console.log("hi");
                    autoscroll = true;
                }

                // append new log line to the #logs
                for (const line of data) {
                    var logLine = document.createElement("p");
                    logLine.className = "log-line";
                    logLine.innerText = line;
                    logElement.appendChild(logLine);
                }

                // auto-scroll if enabled
                if (autoscroll) logElement.scrollTop = logElement.scrollHeight;
            }
        });
    </script>
{% endblock %}