{% extends "base.html" %}
{% block content %}

<h1>Server settings</h1>
<p>Modify the <code>server.properties</code> file of {{ server.name }}</p>
<br>

<form action="{{ url_for('api_updateServerSettings', index=server.index) }}" method="post" id="formElement">
    {% for name, value in server_properties.items() %}
        {% if value == 'true' %}
            <div class="form-check form-switch">
                <input class="form-check-input checkBoxes" name="{{ name }}" value="true" type="checkbox" role="switch" checked>
            </div>
            <p>{{ name }}</p>
        {% elif value == 'false' %}
            <div class="form-check form-switch">
                <input class="form-check-input checkBoxes" type="checkbox" name="{{ name }}" value="true" role="switch" >
            </div>
            <p>{{ name }}</p>
        {% else %}
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="{{ name }}" name="{{ name }}" value="{{ value }}">
            <p>{{ name }}</p>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Save Changes" class="btn btn-success" id="submitButton">
</form>

<script>
    const checkBoxes = document.getElementsByClassName("checkBoxes");
    const formElement = document.getElementById("formElement");
    document.getElementById("submitButton").addEventListener("click", () => {
        Array.from(checkBoxes).forEach((checkbox) => {
            if (!checkbox.checked) {
                const newElement = document.createElement("input");
                newElement.type = "hidden";
                newElement.name = checkbox.name;
                newElement.value = "false";
                formElement.appendChild(newElement);
            }
        });
    })
</script>
{% endblock %}