#logs {
    font-family: monospace;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#logs::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#logs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.log-line {
    margin: 0;
}
